@font-face {
    font-family: "alamain1";
    src: url("../font/alamain1.ttf");
  }
  

body {
    color: #f2f2f2;
    background-color: #130C40;
    font-size: 25px;
    margin: 0%;
    padding: 0%;
}

.titles{
    color: #9196F2;
    font-family: "alamain1", serif;
    font-weight: normal;
    font-style: normal;
}
.form {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    margin-top: 10rem;
}

.logo {
    background-image: url("../img/lg.png");
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
    margin-left: 10%;
}

.logo2 {
    background-image: url("../img/logo2.jpg");
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float:right;
    margin-right: 15%;
    margin-top: 9%;
    
}


.small, small{
    font-size: 0.6em;
}

.form-group row {
    color: #f2f2f2;
    font-size: .6em !important;
}



.btn-outline-info{
    --bs-btn-color: #f2f2f2;
    --bs-btn-border-color: #9196F2;
    --bs-btn-hover-bg: #9196F2;
    --bs-btn-hover-border-color: #9196F2;
    --bs-btn-active-bg: #9196F2;
    --bs-btn-active-border-color: #9196F2;
    --bs-btn-disabled-color: #9196F2;
    --bs-btn-disabled-border-color: #9196F2;
    --bs-btn-hover-color: #f2f2f2;
    --bs-btn-active-color: #f2f2f2;
}